@using EntityLayer.Concrete
@model List<Experience>

<div class="card">
    <div class="card-header">
        <h3 class="mb-0">Deneyimlerim</h3>
    </div>
    <div class="card-body">

        @* İlk 2 deneyimi her zaman göster *@
        @foreach (var item in Model.Take(2))
        {
            <div class="mb-4">
                <h5>@item.Name</h5>
                <p class="text-muted">@item.Date</p>
                <ul>
                    <li>@item.Description</li>
                </ul>
            </div>
            <hr />
        }

        @* Eğer 2'den fazla deneyim varsa, gizli alanı ve butonu oluştur *@
        @if (Model.Count > 2)
        {
            <div class="collapse" id="collapseExperiences">
                @foreach (var item in Model.Skip(2))
                {
                    <div class="mb-4">
                        <h5>@item.Name</h5>
                        <p class="text-muted">@item.Date</p>
                        <ul>
                            <li>@item.Description</li>
                        </ul>
                    </div>
                    <hr />
                }
            </div>

            <div class="text-center">
                <a class="font-weight-bold small" data-toggle="collapse" href="#collapseExperiences" role="button" aria-expanded="false" aria-controls="collapseExperiences">
                    Daha Fazla Göster
                </a>
            </div>
        }
    </div>
</div>