@using EntityLayer.Concrete
@model List<Portfolio>

@{
    ViewData["Title"] = "DeletedPortfolio";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Çöp Kutusu - Silinmiş Projeler Tablosu</h3>
    <a href="/Portfolio/Index/" class="btn btn-primary mt-3">Aktif Projeler Listesine Geri Dön</a>
</div>
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="name">#</th>
                <th scope="col">Geri Yükle</th>
                <th scope="col">Kalıcı Olarak Sil</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="list">

            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @item.PortfolioID
                    </th>
                    <td class="budget">
                        @item.Name
                    </td>
                    <td>
                        <form asp-action="RestorePortfolio" asp-route-id="@item.PortfolioID" method="post">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-info">Geri Yükle</button>
                        </form>
                    </td>
                    <td>
                        <form asp-action="PermanentDeletePortfolio" asp-route-id="@item.PortfolioID" method="post">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Bu kaydı kalıcı olarak silmek istediğinizden emin misiniz? Bu işlem geri alınamaz.');">Kalıcı Sil</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
